body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.main-content {
  width: 70%;
}

a {
  text-decoration: none;
  color: white;
}

.main-content {
  display: flex;
  align-items: center;
  padding: 120px;
  gap: 50px;
}

.title-content {
  flex: 1;
}

.title-content > button {
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 30px;
}

.img-content {
  display: flex;
  flex: 1;
  height: 200px;
  background-color: grey;
  justify-content: center;
}

.img-content > p {
  align-self: center;
}

.header > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 0;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  margin-right: auto;
}

.main-content > h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.header > ul {
  list-style-type: none;
}

.information-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  margin: 0;
  gap: 20px;
}

.article-section {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.article-section > article {
  width: 20%;
}

.rounded-border {
  width: 150px;
  height: 150px;
  border: solid 2px rgb(16, 135, 204);
  border-radius: 10px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  padding: 60px;
  align-items: center;
}

.quote-text {
  width: 50%;
  margin: 0;
}

.quote-author {
  text-align: right;
  width: 50%;
  font-weight: 600;
  font-size: 26px;
  font-style: normal;
  margin: 20px;
}

.call-to-action {
  display: flex;
  padding: 80px;
  align-items: center;
  justify-content: center;
}

.container-call {
  display: flex;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 50px 80px 50px 80px;
  gap: 30px;
  justify-content: space-between;
  width: 50%;
  margin: 0;
}

.call-text > p {
  margin: 0;
  padding: 0;
}

.call-text {
  color: white;
}

.call-text-p1 {
  font-size: 26px;
  font-weight: bold;
}

.container-call > button {
  border: 2px solid white;
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  padding: 0 30px;
}

.footer {
  background-color: #1f2937;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
}
